
body{
    background-image: url(src/assets/img/fondo2.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover
    /* background-position: center center */
}

body {
    background-image: url(src/assets/img/fondo8.jpg); 
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    
    /* background: #5433ff;  */
    /* background: -webkit-linear-gradient(
        to bottom,
        #a5fecb,
        #20bdff,
        #5433ff
    ); 
    background: linear-gradient(
        to bottom,
        #a5fecb,
        #20bdff,
        #5433ff
    );  */
}

