html,
body {
  height: 100%;
}

body {
  display: block;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('');
  background-color: rgb(242, 253, 255);
  text-align: center;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  background-color: white;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h6 {
  font-family: 'Times New Roman', Times, serif;
}
