body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.table {
  background-color: rgb(52, 201, 242);
}

.thead{
  background-color: cornsilk;
}

.color-strong-azul {
  color: blue;
}

.color-strong-blanco {
  color: #ffffff;
}